* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1{
    text-align: center;

}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.image-container {
    display: flex;

}

.image-container{

    width: 100px;
}

article{

    padding: 10px;
    box-shadow: 0px 0px 1px #000;
}